<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
  (click)="closeModal()" @fadeInOut>
  <div
    class="relative w-full max-w-xl rounded-xl bg-white p-4 shadow-lg dark:bg-gray-800"
    (click)="$event.stopPropagation()">
    <button
      (click)="closeModal()"
      class="absolute top-4 right-4 p-1 text-gray-400 hover:text-gray-600 dark:text-gray-200 dark:hover:text-gray-400">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <div class="px-12 py-5">
      <h2 class="text-3xl font-semibold text-gray-800 dark:text-white">Your opinion matters to us!</h2>
    </div>
    <div class="flex w-full flex-col items-center bg-gray-200 dark:bg-gray-700">
      <div class="flex flex-col items-center space-y-3 py-6">
        <span class="text-lg text-gray-800 dark:text-white">How was the quality of the call?</span>
        <div class="flex space-x-3">
          <!-- Star rating icons -->
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <svg
              class="h-12 w-12 cursor-pointer"
              [ngClass]="
                star <= (hoveredRating || selectedRating) ? 'text-yellow-500' : 'text-gray-500 dark:text-gray-400'
              "
              (click)="setRating(star)"
              (mouseover)="hoverRating(star)"
              (mouseleave)="hoverRating(0)"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
          </ng-container>
        </div>
      </div>
      <div class="flex w-3/4 flex-col">
        <textarea
          rows="3"
          class="resize-none rounded-xl p-4 text-gray-500 dark:bg-gray-600 dark:text-gray-200"
          [(ngModel)]="userComment"
          placeholder="Please leave a message (max length: 1000)"></textarea>
        <button
          (click)="submitReview()"
          class="my-8 rounded-xl bg-gradient-to-r from-purple-500 to-indigo-600 py-3 text-lg text-white">
          Rate now
        </button>
      </div>
    </div>
    <div class="flex h-20 items-center justify-center">
      <button (click)="closeModal()" class="text-gray-600 dark:text-gray-400">Maybe later</button>
    </div>
  </div>
</div>
