<div class="bg-white dark:bg-background mr-[300px] pr-[80px]">

  <div class="filter-container flex items-center justify-end space-x-8">
    <!-- Profil à droite avec marge à droite -->


    <!-- Inputs côte à côte -->
    @if(isDisplayingOnlyBarCoes$ | async) {
      <div class="flex flex-row items-center space-x-6">
        <!-- Profile menu as first item -->
        <div class="filter-item min-w-[280px]">
          <app-profile-menu></app-profile-menu>
        </div>
      
        <!-- First input -->
        <div class="filter-item min-w-[280px]">
          <label
            for="title"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >
            Titre <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="title"
            class="filter-input w-full"
            [(ngModel)]="seachInput"
            placeholder="Rechercher par nom de l'article"
            (change)="searchByQuery()"
            required
          />
        </div>
      
        <!-- Second input -->
        <div class="filter-item min-w-[280px]">
          <label
            for="codeBarre"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >
            Code à barre <span class="text-red-500">*</span>
          </label>
          <input
            [(ngModel)]="barCode"
            type="text"
            id="codeBarre"
            class="filter-input w-full"
            placeholder="Rechercher par code-barres"
            (change)="filterMenuItemsByBarCode()"
            required
          />
        </div>
      </div>
      
    }
  </div>

  <!-- CATÉGORIES D'ALIMENTS À CHOISIR -->
  @if(isDisplayingOnlyBarCoes$ | async) {
    <app-food-category></app-food-category>
  }

  <!-- Indicateur de chargement -->
  @if(isDisplayingOnlyBarCoes$ | async) {
    <div *ngIf="isLoading" class="flex justify-center items-center p-48">
      <app-loader />
    </div>
  }

  <!-- Affichage des articles du menu -->
  @if(isDisplayingOnlyBarCoes$ | async) {
    <div class="container mx-auto px-2 pb-24 pt-4 overflow-auto">
      <div *ngIf="!isLoading && displayMenuItems.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <app-food-card *ngFor="let item of displayMenuItems" [item]="item"></app-food-card>
      </div>

      <!-- Message si aucun article n'est trouvé -->
      <div *ngIf="!isLoading && displayMenuItems.length === 0" class="text-center">
        <h2 class="text-lg font-semibold text-primary h-screen">Aucun article trouvé dans cette catégorie</h2>
      </div>
    </div>
  }
</div>

<!-- Modal de soumission d'avis -->
@if(isDisplayingOnlyBarCoes$ | async) {
  <app-submit-review-modal *ngIf="showSubmitReviewModal$ | async"></app-submit-review-modal>
}

<!-- Modal des avis utilisateurs -->
<app-user-reviews-modal *ngIf="showUserReviewsModal$ | async"></app-user-reviews-modal>
