<div class="bg-white dark:bg-background mr-[300px] pr-[80px]">
  <div class="filter-container">
    @if(isDisplayingOnlyBarCoes$|async){

      <div class="filter-item">
        <ng-template>
          <label
            for="title"
            class="mt-4 mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Title<span class="text-red-500">*</span></label
          > </ng-template>
        <input
          type="title"
          id="title"
          class="filter-input"
          [(ngModel)]="seachInput"
          placeholder="Search  by item Name"
          (change)="searchByQuery()"
          required
        />
  
      </div>
    }
 
    <div class="filter-item">
      <ng-template>
        <label
          for="codeBarre"
          class="mt-4 mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >Code a Barre <span class="text-red-500">*</span></label
        > </ng-template>
      <input
        [(ngModel)]="barCode"
        type="text"
        id="codeBarre"
        class="filter-input"
        placeholder="Search by Item Bar  Code "
        (change)="filterMenuItemsByBarCode()"
        required
         />
    </div>
  </div>
  <!-- FOOD CATEGORIES TO PICK -->
   @if(isDisplayingOnlyBarCoes$|async){  
    <app-food-category></app-food-category>


   }

  <!-- Filter Section -->


  <!-- Loading spinner -->
   @if(isDisplayingOnlyBarCoes$|async){
    <div *ngIf="isLoading" class="flex justify-center items-center p-48">
      <app-loader />
    </div>

   }



  <!-- Menu Items Display -->
  @if(isDisplayingOnlyBarCoes$|async){
    <div class="container mx-auto px-2 pb-24 pt-4 overflow-auto">
      <!-- Menu Items Display -->
      <div *ngIf="!isLoading && displayMenuItems.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <app-food-card *ngFor="let item of displayMenuItems" [item]="item"></app-food-card>
      </div>
      <!-- Display message if no items are found -->
      <div *ngIf="!isLoading && displayMenuItems.length === 0" class="text-center">
        <h2 class="text-lg font-semibold text-primary h-screen">No items in this category</h2>
      </div>
    </div>}

 
</div>
@if(isDisplayingOnlyBarCoes$|async){
  <app-submit-review-modal *ngIf="showSubmitReviewModal$ | async"></app-submit-review-modal>


}
<!-- Submit Review Modal -->

<!-- Users Review Modal -->
<app-user-reviews-modal *ngIf="showUserReviewsModal$ | async"></app-user-reviews-modal>
