<section class="relative cursor-pointer py-8 px-4">
  <div class="relative z-10 mx-auto max-w-6xl">
    <div class="mb-6 flex items-center justify-between">
      <h2 class="text-dark text-2xl font-bold drop-shadow-lg dark:text-white">
        Our Featured <span class="text-primary">Categories</span>
      </h2>
      <a routerLink="/menu" class="text-primary hover:opacity-75">See all Food →</a>
    </div>
    <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 lg:grid-cols-4" >
      <div
      *ngFor="let food of foods; let i = index"
      #foodItem
      [class.opacity-0]="!isVisible[i]"
      [@slideFromLeft]="shouldSlideFromLeft(i) && isVisible[i] ? true : false"
      [@slideFromRight]="!shouldSlideFromLeft(i) && isVisible[i] ? true : false"
      class="group relative transform overflow-hidden rounded-lg shadow-xl shadow-primary transition duration-500 hover:scale-105"
      (click)="navigateToMenuWithCategory(food.category)">
        <img
          [src]="food.imageUrl"
          alt="{{ food.name }}"
          loading="lazy"
          class="max-h-72 w-full rounded-lg object-cover transition duration-500 group-hover:brightness-75" />
        <div
          class="absolute inset-0 rounded-lg transition duration-500 group-hover:bg-black group-hover:bg-opacity-50"></div>
        <div class="absolute inset-x-0 bottom-0 rounded-lg bg-black/30 p-4 backdrop-blur-md">
          <div class="flex items-center justify-between">
            <h3 class="text-lg font-bold text-white">{{ food.name }}</h3>
            <button class="rounded bg-primary px-2 py-1 font-bold text-white transition-colors hover:opacity-75">
              Order
            </button>
          </div>
          <p class="text-sm text-gray-300">{{ food.description }}</p>
        </div>
      </div>
    </div>
    <!-- Centered See All Button -->
    <div class="mt-12 text-center">
      <a
        routerLink="/menu"
        class="mx-auto rounded bg-primary px-6 py-2 font-bold text-white transition-colors hover:opacity-75">
        See all Food →
      </a>
    </div>
  </div>
  <!-- Plate Image -->
  <div class="absolute left-32 top-24 z-0 -translate-y-1/2 translate-x-2/3 transform">
    <img src="/assets/images/plate.png" alt="Plate" class="h-64 w-auto" />
  </div>
  <!-- Plate Image -->
  <div class="absolute right-64 top-1/2 z-0 translate-y-1/2 translate-x-1/2 transform">
    <img src="/assets/images/macaron.png" alt="Plate" class="h-64 w-auto" />
  </div>
</section>
<div class="relative flex items-center py-5">
  <div class="flex-grow border-t border-primary"></div>
  <span class="mx-4 flex-shrink text-primary">
    <svg viewBox="0 0 512 512" class="fill-current text-primary" height="2em" width="2em">
      <path
        d="M368 128h.09M479.55 96h-91.06l8.92-35.66 38.32-13.05c8.15-2.77 13-11.43 10.65-19.71a16 16 0 00-20.54-10.73l-47 16a16 16 0 00-10.36 11.27L355.51 96H224.45c-8.61 0-16 6.62-16.43 15.23A16 16 0 00224 128h2.75l1 8.66A8.3 8.3 0 00236 144c39 0 73.66 10.9 100.12 31.52A121.9 121.9 0 01371 218.07a123.4 123.4 0 0110.12 29.51 7.83 7.83 0 003.29 4.88 72 72 0 0126.38 86.43 7.92 7.92 0 00-.15 5.53A96 96 0 01416 376c0 22.34-7.6 43.63-21.4 59.95a80.12 80.12 0 01-28.78 21.67 8 8 0 00-4.21 4.37 108.19 108.19 0 01-17.37 29.86 2.5 2.5 0 001.9 4.11h49.21a48.22 48.22 0 0047.85-44.14L477.4 128h2.6a16 16 0 0016-16.77c-.42-8.61-7.84-15.23-16.45-15.23z" />
      <path
        d="M108.69 320a23.87 23.87 0 0117 7l15.51 15.51a4 4 0 005.66 0L162.34 327a23.87 23.87 0 0117-7h196.58a8 8 0 008.08-7.92V312a40.07 40.07 0 00-32-39.2c-.82-29.69-13-54.54-35.51-72C295.67 184.56 267.85 176 236 176h-72c-68.22 0-114.43 38.77-116 96.8A40.07 40.07 0 0016 312a8 8 0 008 8zM185.94 352a8 8 0 00-5.66 2.34l-22.14 22.15a20 20 0 01-28.28 0l-22.14-22.15a8 8 0 00-5.66-2.34h-69.4a15.93 15.93 0 00-15.76 13.17A65.22 65.22 0 0016 376c0 30.59 21.13 55.51 47.26 56 2.43 15.12 8.31 28.78 17.16 39.47C93.51 487.28 112.54 496 134 496h132c21.46 0 40.49-8.72 53.58-24.55 8.85-10.69 14.73-24.35 17.16-39.47 26.13-.47 47.26-25.39 47.26-56a65.22 65.22 0 00-.9-10.83A15.93 15.93 0 00367.34 352z" />
    </svg>
  </span>
  <div class="flex-grow border-t border-primary"></div>
</div>
