<section class="body-font min-h-screen relative overflow-hidden pb-12">
  <!-- Background with opacity -->
  <div
    class="absolute inset-0 z-0"
    style="
      background-image: url('./assets/images/background-3.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    ">
    <div class="absolute inset-0 bg-black opacity-5"></div>
  </div>
  <div class="relative mx-auto px-4 py-4 sm:px-8 lg:container" @slideInDown>
    <!-- Reviews Table -->
    <div reviews-table></div>
  </div>
</section>
