<div class="flex h-screen w-screen">
  <div class="hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="mx-auto max-w-2xl space-y-4 overflow-hidden p-8 text-center text-white">
      <img src="./assets/images/oryx_bio.png" alt="produits cosmétiques" class="h-auto w-auto sm:w-1/2 lg:w-3/4" />
      <h1 class="text-4xl font-bold">"Beauté Naturelle, Soin Authentique"</h1>
      <p class="text-xs font-light">
        L'oryx Bio, marque tunisienne de produits cosmétiques naturels, vous invite à découvrir l'harmonie parfaite
        entre nature et bien-être. Inspirée des rituels ancestraux, notre gamme sublime votre peau en douceur.
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded bg-primary p-2">
          <svg-icon src="./assets/images/oryx_bio.png" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
        <b class="text-md pl-3 font-bold text-foreground">Oryx Bio</b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
